<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Datadog.Trace" version="3.37.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.3" targetFramework="net48" />
  <package id="Microsoft.Build.Tasks.Git" version="10.0.103" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.SourceLink.Common" version="10.0.103" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="10.0.103" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Serilog" version="4.3.1" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="3.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="6.1.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="7.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>