<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Datadog Configuration -->
    <add key="DD_API_KEY" value="" />
    <add key="DD_SITE" value="datadoghq.com" />
    <add key="DD_ENV" value="production" />
    <add key="DD_SERVICE" value="datadog-maui-api-framework" />
    <add key="DD_VERSION" value="1.0.0" />
    <add key="DD_TRACE_ENABLED" value="true" />
    <add key="DD_RUNTIME_METRICS_ENABLED" value="true" />
    <add key="DD_LOGS_INJECTION" value="true" />
    <add key="DD_TRACE_SAMPLE_RATE" value="1.0" />
    <add key="DD_TRACE_PROPAGATION_STYLE" value="datadog,tracecontext" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Enable static file serving -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!--
      Datadog automatic instrumentation for .NET Framework no longer requires the HTTP Module.
      As of Datadog.Trace 3.x+, instrumentation is handled by the CLR Profiler.
      Set CORECLR_ENABLE_PROFILING=1 and CORECLR_PROFILER={846F5F1C-F9AE-4B07-969E-05C26BC060D8}
      in your environment or IIS Application Pool settings.
    -->
    <modules>
    </modules>

    <!-- CORS headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Correlation-ID" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
