<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\DatadogMauiApi.dll"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                hostingModel="inprocess">
      <environmentVariables>
        <!-- Datadog APM Configuration for Windows -->
        <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
        <environmentVariable name="CORECLR_PROFILER" value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}" />
        <environmentVariable name="CORECLR_PROFILER_PATH" value="D:\home\site\wwwroot\datadog\win-x64\Datadog.Trace.ClrProfiler.Native.dll" />
        <environmentVariable name="DD_DOTNET_TRACER_HOME" value="D:\home\site\wwwroot\datadog" />
        <environmentVariable name="DD_INTEGRATIONS" value="D:\home\site\wwwroot\datadog\integrations.json" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
